# Production environment
ESB_STATIC_TOKEN=your_production_token_here
ESB_COMPANY_CODE=MBLA
ESB_DEFAULT_BRANCH=MCE
ESB_ENV=production
NODE_ENV=production
PORT=3001
ESB_WEBHOOK_SECRET=your_webhook_secret_here
SENTRY_DSN=your_sentry_node_dsn_here
